
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFF8DC; /* Fondo cálido y suave */
    overflow: hidden;
    font-family: 'Cursive', sans-serif;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: auto;
}

#message {
    color: #FFCC00; /* Color amarillo dorado */
    font-size: 2em;
    margin-bottom: 20px;
    max-width: 90%;
    position: relative;
    z-index: 2;
}

#flowercontainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    overflow: hidden; /* Para que las flores fuera de vista no se muestren */
    background-color: transparent; /* Fondo transparente */
}

.flower {
    position: absolute;
    bottom: -150px; /* Comienza fuera de la pantalla */
    width: 100px;
    height: 100px;
    opacity: 0; /* Invisible al principio */
    display: none; /* Ocultas inicialmente */
    animation: riseUpAndDisappear 6s ease-in-out forwards; /* Animación para subir con suavidad y desvanecerse */
}

@keyframes riseUpAndDisappear {
    0% {
        transform: translateY(150px); /* Comienza 150px por debajo */
        opacity: 0; /* Invisible */
    }
    50% {
        transform: translateY(0); /* En su posición original */
        opacity: 1; /* Completamente visible */
    }
    100% {
        transform: translateY(-200px); /* Sube hacia arriba, fuera de la pantalla */
        opacity: 0; /* Desaparece gradualmente */
    }
}

#button-container {
    margin-top: 10px;
    position: relative;
    z-index: 2;
} 

button {
    padding: 10px 20px;
    font-size: 1.5em;
    color: #FFF;
    background-color: #FFCC00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 80%;
    margin: auto;
}

button:hover {
    background-color: #FFD700;
}

button.hidden {
    display: none;
}